:root {
    --background: rgba(166, 136, 119, 0.8);
    --background-caixas: rgba(217, 199, 184);
    --amarelo-bordas: rgb(255, 212, 129);
    --castanho: rgba(122, 58, 12, 0.9);
    --laranja: rgba(217, 150, 91);
    --laranja-escuro: rgba(191, 104, 54, 0.9);
    --castanho-escuro: rgb(61, 24, 10);
    --castanho-texto: rgb(100, 48, 11);
}

body {
    /* background-color: rgba(217, 199, 184); ---BEIJE*/
    background-color: var(--background);
    /* background-color: rgba(123, 68, 123, 0.5); ----ROXO*/
    margin: 0;
}

/* barra de cima*/
.header {
    width: 100%;
    display: inline-block;
    /*background-color: rgb(191, 104, 54);*/
    background-color: var(--castanho);
    border-bottom: 4px solid var(--castanho-escuro);
    height: 200px;
}

/*logo, ainda no header*/
#logo_dara {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#logo_dara:hover {
    font-size: 50px;
}

#texto_rules {
    font-size: 15px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 550;
    top: 2vw;
    left: 1.7vw;
    position: absolute;
    color: var(--castanho-escuro);
}

/*pergaminho com as regras, ainda no header*/
#rules {
    background: none;
    position: relative;
    left: 1.6vw;
    top: 1.8vw;
    width: 130px;
    height: 130px;
}

#rules:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.25s;

}

#rules:hover~#texto_rules {
    transform: scale(1.1);
    transition: ease-in-out 0.25s;

}

#texto_rules {
    font-size: 40px;
    pointer-events: none;
}

/*coisas depois de carregar nas regras*/
.popup-button {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.popup h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}

.popup p {
    font-size: 20px;
    text-align: center;
}

.popup img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 90px;
    border: 3px solid rgb(92, 58, 11);
    cursor: pointer;
}

.popup button {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: block;
    top: 400px;
    margin-top: 70px;
    left: 250px;
    background-color: rgba(200, 130, 30, 255);
    border-radius: 10px;
    padding: 5px;
}

.popup {
    display: none;
    position: fixed;
    width: 900px;
    height: 900px;
    background-image: url("./images_files/pergaminho.png");
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    z-index: 10;
}
/*-------------------------------------------------------------------------------------
------BOTÃO RANKING----------------------------------------
---------------------------------------------------------------*/
.rankings_button {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 105px;
    right: 40px;
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid var(--amarelo-bordas);
    height: 85px;
}

.rankings_button:hover {
    background-color: var(--laranja-escuro);
    cursor: pointer;
    transform: scale(1.1);
}

.rankings_button img{
    background: transparent;
    width: 58px;
    height: 65px;
}

/*---------------------BOTAO DO PERFIL----------------------------
----------------------PROFILE PIC, no header----------------------------
-------------------------------------------------------------*/

.MyProfileButton {
    font-size: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 105px;
    right: 140px;
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid var(--amarelo-bordas);
}

.MyProfileButton:hover {
    background-color: var(--laranja-escuro);
    cursor: pointer;
    transform: scale(1.1);
}
/*--------OPCOES AO CARREGAR BOTAO PERFIL.----------------------
------------------------------------------------------
-------------------------------------------------------------*/

#profileOptions {
    display: none;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    top: 220px;
    right: 105px;
    position: absolute;
    z-index: 3;
}

#profileOptions.visible {
    transition: all 3s ease-in;
    display: flex;
}

#seta {
    width: 35px;
    height: 35px;
    border-bottom: 2px solid var(--amarelo-bordas);
    border-left: 2px solid var(--amarelo-bordas);
    transform: rotate(135deg);
}

#profileOptions .barra {
    width: 150px;
    margin-bottom: 2px;
    height: max-content;
    align-items: end;
    background-color: var(--laranja);
    border: 2px solid var(--amarelo-bordas);
    border-radius: 10px;
}

.barra {
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
}

.barra:hover,
.barra:focus {
    background-color: var(--laranja);
    cursor: pointer;
}

#profileOptions .barra:hover,
#profileOptions .barra:focus {
    background-color: var(--laranja-escuro);
    cursor: pointer;
}

#user {
    height: 70px;
    width: 60px;
    position: relative;
}

#user:hover {
    cursor: pointer;
    transform: scale(1.025);
}

/*-------------------------------------------------------------------------
------------------CRIAR CONTA/CREATE ACCOUNT-----------------------------
--------------------------------------------------------------------- */
/*-------------------------------------------------------------------------
------------------LOGIN - USERNAME E PASSWORD-----------------------------
--------------------------------------------------------------------- */
.register-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 120px;
}

#UsernameInput,
#PasswordInput {
    border: 2px solid var(--amarelo-bordas);
    background-color: var(--laranja);
    background-blend-mode: color;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    width: 170px;
    height: 20px;
    gap: 10px;
}

#logOutButton,
#username-display,
.register-form {
    display: none;
}

#loggedInUsername {
    position: absolute;
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    top: 105px;
    right: 225px;
}

#loggedInUsername:hover {
    cursor: pointer;
}

#registerSubmit {
    cursor: pointer;
    width: 90px;
    font-size: 20px;
    background-color: rgba(122, 58, 12, 0.8);
    border: 2px solid var(--amarelo-bordas);
    border-radius: 5px;
}

#registerSubmit:hover {
    transform: scale(1.1);
    transition: 0.3 ease-in-out;
}

/*-------------------------------------------------------------------------
------------------DEFINIR SETTINGS DO JOGO-----------------------------
--------------------------------------------------------------------- */
#texto-settings,
#texto-rankings {
    margin-top: 5px;
    justify-content: start;
    font-size: 40px;
    font-weight: 1000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;
    color: var(--castanho-texto)
}

#texto-rankings {
    position: relative;
    top: 20px;
}

ol {
    padding: 0;
    counter-reset: my-counter;
}

ol li {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    align-items: center;
    color: var(--castanho-escuro);
}

ol li::before {
    z-index: 4;
    content: counter(my-counter) "";
    counter-increment: my-counter;
    font-weight: bold;
    border: 4px solid var(--laranja-escuro);
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    margin-right: 5px;
    text-align: end;
    left: -35px;
}

.settings p:not(#texto-settings) {
    font-size: 20px;
    margin: 0;
}

.psettings {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding-bottom: 10px;
    color: var(--castanho-escuro)
}

.settings,
.settings2,
.rankings,
.groupJoinDiv {
    background-color: var(--background-caixas);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 17%;
    height: 39vw;
    margin: 0;
    padding: 0 100px 0 100px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
    border: 3px solid var(--amarelo-bordas);
    border-radius: 20px;
}

.rankings{
    display: none;
}

/*---------------------------ESCOLHER QUADRO-----------------------------------------------------------------------
------------------------------ESCOLHER QUADRO----------------------------------------------------
------------------------------ESCOLHER QUADRO---------------------------------------------------*/

.board-size-option {
    padding: 20px;
    margin: 8px;
    background-color: var(--laranja);
    border: 3px solid var(--laranja);
    border-radius: 5px;
}

.board-size-option:hover {
    cursor: pointer;
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    transform: scale(1.1);
    transition: ease-in-out 0.25s;
}

span {
    font-size: 25px;
    font-weight: 500;
}

.board-size-label input[type="radio"]:checked~.board-size-option {    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
}


/*---------------------------ESCOLHER ADVERSÁRIO-----------------------------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO----------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO---------------------------------------------------*/


.players-label {
    width: 80px;
    height: 80px;
    background-color: transparent;
}

label img {
    width: 80px;
    height: 80px;
}

.player-option,
.whentoplay-option {
    margin: 10px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 60px;
}

.player-option:hover,
.whentoplay-option:hover {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.25s;

}

.players-label input[type="radio"]:checked~.player-option,
.whentoplay input[type="radio"]:checked~.whentoplay-option,
.optionPiecesDiv input[type="submit"]:checked {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    border-radius: 10px;
}

/*----------------------------------------------------------------
--------ESCOLHER PEÇAS-------------------------------------------
------------------------------------------------------------*/
.radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.AI-options,
.optionPiecesDiv {
    gap: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 400px;
    overflow: hidden;
}

.AI-options .radio-label,
.optionPiecesDiv .radio-label {
    display: inline-flex;
    cursor: pointer;
    width: 80px;
    height: 80px;
    gap: 10px;
    line-height: 80px;
}


.radio-label input[type="radio"]:checked+img,
.radio-label:hover {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    border-radius: 10px;
    transform: scale(1.1);
    transition: ease-in-out 0.25s;

}



.otherSettingsText {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--castanho-escuro);
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

:root {
    --left-side: var(--laranja-escuro);
    --smile: #ffe073;
    --star: var(--amarelo-bordas);
    --arrow: var(--castanho-escuro);
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


.play-friends {
    z-index: 3;
    background-color: var(--laranja);
    display: none;
    width: 400px;
    height: 100px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
    border: 3px solid var(--amarelo-bordas);

    &:hover {
        transform: scale(1.04);
    }
}

.left-side {
    background-color: var(--left-side);
    width: 130px;
    height: 100px;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
}

.right-side {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 6px;

    &:hover {
        background-color: var(--amarelo-bordas);
    }
}

.arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.smile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--smile);
    position: absolute;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, .2);
    box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, .2);
}

.eyes {
    width: 6px;
    height: 10px;
    position: absolute;
    box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
    border-radius: 50%;
    left: 27px;
    top: 20px;
}

.mouth {
    width: 36px;
    height: 18px;
    background-color: #000;
    position: absolute;
    border-radius: 0 0 60px 60px;
    top: 35px;
    left: 12px;
}

.play-friends:hover {
    & .smile {
        animation: slide-cross .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    & .eyes,
    & .mouth {
        animation: slide-bottom .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    & .talk {
        animation: scale-up .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) .3s both;
    }

    & .star {
        animation: turning .5s ease-in-out .5s both;
    }

    & .friend {
        animation: slide-in .7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    & .shock {
        animation: wow .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s both;
    }
}

@keyframes wow {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes slide-in {

    100% {
        right: -45px;
        top: 35px;
    }
}


@keyframes turning {
    0% {
        transform: rotate(-160deg) scale(0);
        opacity: 0;
    }

    85% {
        transform: rotate(0) scale(1.5);
        opacity: 1;
    }

    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        transform: scale(0.6);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

@keyframes slide-cross {
    0% {
        transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(-38px) translateX(-41px);
    }
}

@keyframes slide-bottom {
    0% {
        transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(1px) translateX(5px);
    }
}

.talk {
    width: 46px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--background);
    position: absolute;
    z-index: 3;
    bottom: 34px;
    left: 33px;
    opacity: 0;
}

.triangle {
    position: relative;
    background-color: var(--background);
    top: -9px;
    left: 8px;
}

.triangle,
.triangle:before,
.triangle:after {
    width: 10px;
    height: 10px;
    border-top-right-radius: 35%;
}

.triangle {
    transform: rotate(-85deg) skewX(-30deg) scale(1, .866);

    &:before {
        transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
    }
}

.star {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 5px;
}

.friend {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--smile);
    position: relative;
    right: -85px;
    top: 85px;
    z-index: 4;
    box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, .2);

    &:before {
        content: '';
        width: 6px;
        height: 10px;
        position: absolute;
        box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
        border-radius: 50%;
        left: 24px;
        top: 18px;
    }
}

.shock {
    width: 12px;
    height: 12px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    top: 34px;
    right: 28px;
}

@media only screen and (max-width: 480px) {
    .play-friends {
        transform: scale(0.7);

        &:hover {
            transform: scale(0.74);
        }
    }
}

/*---------------------------START/COMEÇAR O JOGO-----------------------------------------------------------------------
------------------------------START/COMEÇAR O JOGO----------------------------------------------------
------------------------------START/COMEÇAR O JOGO---------------------------------------------------*/

.start-button {
    width: 400px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--laranja);
    border: 3px solid var(--amarelo-bordas);
    cursor: pointer;
}

.start-button:hover {
    background-color:
        /*amarelobordasrgba*/
        rgba(255, 252, 129, 0.5);
    transform: scale(1.1);
    transition: ease-in-out 0.25s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#starttext {
    color: var(--castanho-escuro);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

/*----------------------AQUI COMEÇA O SCRIPT DO JOGO------------------------------
----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/



.board {
    margin: auto;
    margin-top: 100px;
    background-image: url("./images_files/background.jpeg");
    background-repeat: repeat;
    background-size: cover;
    width: max-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--col, 5), 1fr);
    grid-template-rows: repeat(var(--row, 6), 1fr);
    gap: 4px 4px;
    grid-template-areas: brown;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fopengameart.org%2Fsites%2Fdefault%2Ffiles%2Fgrass03_0.png&f=1&nofb=1&ipt=199ea9c626df3a27f8fb0d80d1e48ca50b3fa278b17b5a11ce3f28e7d560bee6&ipo=images");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.05);
    border: 3px solid rgb(135, 83, 62);
}

.empty {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 3px solid rgb(135, 83, 62);
}



.gameplay {
    flex-direction: row;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}

.player-pieces-1 {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url('./images_files/player1.png');
    background-repeat: no-repeat;
    margin: 5px 0;
    border-radius: 90px;
}

.player-pieces-2 {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url('./images_files/player2.png');
    background-repeat: no-repeat;
    margin: 5px 0;
    border-radius: 90px;
}

.game-coluna {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pieces-left,
.pieces-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 5px;
    height: 850px;
    border-top: 100px;
    border: 3px solid var(--border, rgb(255, 212, 129));
    background-color: var(--back, rgba(217, 199, 184));
    border-radius: 20px;
}


/*----------------------------------------------------------------------------
------------------------PEÇAS DE CADA PLAYER-------------------------------
-----------------------------------------------------------------------------------*/
.cell.player-1 {
    background-image: url("./images_files/player1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cell.player-2 {
    background-image: url("./images_files/player2.png");
    background-repeat: no-repeat;
    background-size: 80px;
    align-items: center;
}

.cell.valid {
    background-image: url("./images_files/quadroverde.png");
    background-repeat: no-repeat;
    background-size: 80px;
    align-items: center;
}

/*


/*---------------------------------------------------------------------
--------------------------------BUTOES ACIMA DO BOARD---------------------------------------------------
----------------------------------------------------------------------------*/
#message {
    margin: 20px 0;
    text-align: center;
}

.reset,
#leaveGamee {
    display: inline;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--castanho);
    border: 2px solid var(--castanho-escuro);

}

.reset:hover,
#leaveGamee:hover {
    border: 2px solid var(--amarelo-bordas);
    transform: scale(1.05);
}


.hidden {
    display: none;
}

#rankings-slot {
    margin-top: 20px;
    position: sticky;
    padding: 0;
    width: 100%;
    bottom: 0;
    overflow: scroll;
}

#user-rankings {
    position: static;
    z-index: 4;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.user-rankings-item {
    padding: 5px;
    margin: 3px;
    background-color: rgba(3, 124, 174, 0.6);
    border-radius: 10px;
}

.user-rankings-item:nth-child(1) {
    background-color: rgba(184, 5, 207, 1);
}

.user-rankings-item:nth-child(2) {
    background-color: rgba(227, 91, 245, 0.7);
}

.user-rankings-item:nth-child(3) {
    background-color: rgba(133, 101, 168, 1);
}

.user-rankings-item img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    border: 3px solid rgb(92, 58, 11);
}

.offheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.groupJoinDiv {
    position: absolute;
    height: 15vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38.5%);
    justify-content:flex-start;
    gap:20px;
    display: none;
}

.GoBack {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.GoBack img {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.GoBack:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.25s;
}

#groupCode {
    border: 2px solid var(--amarelo-bordas);
    background-color: var(--laranja);
    background-blend-mode: color;
    border-radius: 5px;
    width: 170px;
    height: 35px;
    gap: 10px;
    font-size: 20px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

#leaveGamee{
    display: none;
    height: 70px;
    width: 70px;
}

#userPopup {
    z-index: 3;
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-caixas);
    border: 2px solid var(--amarelo-bordas);
    padding: 20px;
    border-radius: 10px;
}

