:root{
--background: rgba(166, 136, 119, 0.8);
--background-caixas: rgba(217, 199, 184);
--amarelo-bordas: rgb(255, 212, 129);
--castanho: rgba(122, 58, 12, 0.9   );
--laranja: rgba(217, 150, 91);
--laranja-escuro: rgba(191, 104, 54, 0.9);
--castanho-escuro: rgb(61, 24, 10);
--castanho-texto: rgb(100, 48, 11);
}
body {
    /* background-color: rgba(217, 199, 184); ---BEIJE*/ 
    background-color: var(--background);
    /* background-color: rgba(123, 68, 123, 0.5); ----ROXO*/
    display: block;
    margin: 0;
}

/* barra de cima*/
.header {
    width: 100%;
    display: inline-block;
    /*background-color: rgb(191, 104, 54);*/
    background-color: var(--castanho);
    border-bottom: 4px solid var(--castanho-escuro);
    height: 200px;
}

/*logo, ainda no header*/
#logo_dara {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#logo_dara:hover {
    font-size: 50px;
}

#texto_rules {
    font-size: 15px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 550;
    top: 75px;
    left: 33px;
    position: absolute;
    color:var(--castanho-escuro);
}

/*pergaminho com as regras, ainda no header*/
#rules {
    background: none;
    position: relative;
    left: 30px;
    top: 30px;
    width: 130px;
    height: 130px;
}

#rules:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.25s;

}

#rules:hover~#texto_rules {
    transform: scale(1.1);
    transition: ease-in-out 0.25s;

}

#texto_rules {
    font-size: 40px;
    pointer-events: none;
}

/*coisas depois de carregar nas regras*/
.popup-button {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}

.popup p {
    font-size: 20px;
    text-align: center;
}

.popup img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 90px;
    border: 3px solid rgb(92, 58, 11);
    cursor: pointer;
}

.popup button {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: block;
    top: 400px;
    margin-top: 70px;
    left: 250px;
    background-color: rgba(200, 130, 30, 255);
    border-radius: 10px;
    padding: 5px;
}

.popup {
    display: none;
    position: fixed;
    width: 900px;
    height: 900px;
    background-image: url("./images_files/pergaminho.png");
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    z-index: 2;
}

/*---------------------BOTAO DO PERFIL----------------------------
----------------------PROFILE PIC, no header----------------------------
-------------------------------------------------------------*/

.MyProfileButton {
    font-size: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 105px;
    right: 70px;
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid var(--amarelo-bordas);
}

.MyProfileButton:hover {
    background-color: var(--laranja-escuro);
    cursor: pointer;
    transform: scale(1.1);
}

/*--------OPCOES AO CARREGAR BOTAO PERFIL.----------------------
------------------------------------------------------
-------------------------------------------------------------*/
#profileOptions {
    display: none;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    top: 220px;
    right: 35px;
    position: absolute;
}

#profileOptions.visible {
    transition: all 3s ease-in;
    display: flex;
}

#seta {
    width: 35px;
    height: 35px;
    border-bottom: 2px solid var(--amarelo-bordas);
    border-left: 2px solid var(--amarelo-bordas);
    transform: rotate(135deg);
}

#profileOptions .barra {
    width: 150px;
    margin-bottom: 2px;
    height: max-content;
    align-items: end;
    background-color: var(--laranja);
    border: 2px solid var(--amarelo-bordas);
    border-radius: 10px;
}

.barra {
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
}

.barra:hover,
.barra:focus {
    background-color: var(--laranja);
    cursor: pointer;
}

#profileOptions .barra:hover,
#profileOptions .barra:focus {
    background-color: var(--laranja-escuro);
    cursor: pointer;
}

#user {
    height: 70px;
    width: 60px;
    position: relative;
}

#user:hover {
    cursor: pointer;
    transform: scale(1.025);
}

/*-------------------------------------------------------------------------
------------------CRIAR CONTA/CREATE ACCOUNT-----------------------------
--------------------------------------------------------------------- */
/*-------------------------------------------------------------------------
------------------LOGIN - USERNAME E PASSWORD-----------------------------
--------------------------------------------------------------------- */
.login-form,
.create-account-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 150px;
}

#usernameInput,
#passwordInput,
#newUsernameInput,
#newPasswordInput,
#confirmPasswordInput {
    border: 2px solid rgba(166, 136, 119, 0.4);
    background-color: rgba(166, 136, 119, 0.2);
    border-radius: 5px;
    width: 170px;
    height: 20px;
    gap: 10px;
}

#loginButton {
    cursor: pointer;
}

#logOutButton,
#username-display,
.login-form {
    display: none;
}

#loggedInUsername {
    position: absolute;
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    top: 105px;
    right: 155px;
}

#loggedInUsername:hover {
    cursor: pointer;
}

#loginSubmit,
#createAccountSubmit {
    width: 90px;
    font-size: 20px;
    background-color: rgb(166, 136, 119, 0.966);
}

#loginSubmit:hover,
#createAccountSubmit:hover {
    cursor: pointer;
    background-color: rgba(115, 50, 26.0, 0.623);
    border-radius: 5px;
}

/*-------------------------------------------------------------------------
------------------DEFINIR SETTINGS DO JOGO-----------------------------
--------------------------------------------------------------------- */
#texto-settings,
#texto-rankings {
    margin-top: 10px;
    justify-content: start;
    font-family: 'Stencil Std';
    font-size: 40px;
    font-weight: 1000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;
    color: var(--castanho-texto)
}
ol {
    list-style: none;
    padding: 0;
    counter-reset: my-counter;
    position: relative;
}
ol li{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    align-items: center;
    color: var(--castanho-escuro);
}

ol li::before {
    content: counter(my-counter) "";
    counter-increment: my-counter;
    font-weight: bold;  
    color: black;
    border: 4px solid var(--laranja-escuro);
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    margin-right: 5px;
    text-align: end;
    left: -35px;
}

.settings p:not(#texto-settings) {
    font-size: 20px;
    margin-bottom: 10px;
}
.psettings{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--castanho-escuro)
}
.settings {
    background-color:var(--background-caixas); 

    /* background-color: rgba(166, 136, 119, 0.966); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 17%;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 100px 0 100px;
    text-align: center;
    align-items: center;
    /*border: 3px solid rgb(115, 50, 26);*/
    border: 3px solid var(--amarelo-bordas);
    border-radius: 20px;
}

/*---------------------------ESCOLHER QUADRO-----------------------------------------------------------------------
------------------------------ESCOLHER QUADRO----------------------------------------------------
------------------------------ESCOLHER QUADRO---------------------------------------------------*/
input[type="radio"] {
    position: absolute;
    z-index: -2;
}

.board-size-option {
    padding: 20px;
    margin: 5px;
    background-color: var(--laranja);
    border: 3px solid var(--laranja);
    border-radius: 5px;
}

.board-size-option:hover {
    cursor: pointer;
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
}

span {
    font-size: 25px;
    font-weight: 500;
}


.board-size-label input[type="radio"]:checked~.board-size-option {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
}


/*---------------------------ESCOLHER ADVERSÁRIO-----------------------------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO----------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO---------------------------------------------------*/


.players-label {
    width: 80px;
    height: 80px;
    background-color: transparent;
}

label img {
    width: 80px;
    height: 80px;
}

.player-option,
.whentoplay-option {
    margin: 10px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 60px;
}

.player-option:hover,
.whentoplay-option:hover {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    border-radius: 10px;
    cursor: pointer;
}

.players-label input[type="radio"]:checked~.player-option,
.whentoplay input[type="radio"]:checked~.whentoplay-option {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    border-radius: 10px;
}


/*---------------------------START/COMEÇAR O JOGO-----------------------------------------------------------------------
------------------------------START/COMEÇAR O JOGO----------------------------------------------------
------------------------------START/COMEÇAR O JOGO---------------------------------------------------*/

.start-button {
    width: 300px;
    height: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: auto;
    border-radius: 10px;
    background-color: var(--laranja);
    border: 3px solid var(--amarelo-bordas);
}

.start-button:hover {
    background-color: var(--laranja-escuro);
    border: 3px solid var(--amarelo-bordas);
    cursor: pointer;
    transform: scale(1.1);
}

#starttext {
    color: var(--castanho-texto);
    border-radius: 5px;
    font-size: 40px;
    font-weight: 600;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

/*----------------------AQUI COMEÇA O SCRIPT DO JOGO------------------------------
----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/



.board {
    margin: auto;
    margin-top: 100px;
    background-image: url("./images_files/background.jpeg");
    background-repeat: repeat;
    background-size: cover;
    width: max-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--col, 5), 1fr);
    grid-template-rows: repeat(var(--row, 6), 1fr);
    gap: 4px 4px;
    grid-template-areas: brown;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    background-image: url("./images_files/backgroundRelva.jpeg");
    background-repeat: no-repeat;
    border: 3px solid rgb(135, 83, 62);
}

.empty {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 3px solid rgb(135, 83, 62);
}



.gameplay {
    flex-direction: row;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.player-pieces-1 {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url('./images_files/player1.png');
    background-repeat: no-repeat;
    margin: 5px 0;
    border-radius: 90px;
}
.player-pieces-2 {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url('./images_files/player2.png');
    background-repeat: no-repeat;
    margin: 5px 0;
    border-radius: 90px;
}

.game-coluna {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pieces-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 850px;
    border-top: 100px;
    border: 3px solid var(--border,rgb(255, 212, 129));
    background-color: var(--back,rgba(217, 199, 184));
    border-radius: 20px;
}

.pieces-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 850px;
    border-top: 100px;
    border: 3px solid var(--border,rgb(255, 212, 129));
    background-color: var(--back,rgba(217, 199, 184));
    border-radius: 20px;
}

/*----------------------------------------------------------------------------
------------------------PEÇAS DE CADA PLAYER-------------------------------
-----------------------------------------------------------------------------------*/
.cell.player-1 {
    background-image: url("./images_files/player1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cell.player-2 {
    background-image: url("./images_files/player2.png");
    background-repeat: no-repeat;
    background-size: 80px;
    align-items: center;
}

.cell.valid{
    background-image: url("./images_files/quadroverde.png");
    background-repeat: no-repeat;
    background-size: 80px;
    align-items: center;
}
/*
.player-pieces-1 span {
    font-size: 30px;
    color: var(--amarelo-bordas); 
}
.player-pieces-2 span {
    font-size: 30px;
    color: black;
}
*/

/*---------------------------------------------------------------------
--------------------------------BUTOES ACIMA DO BOARD---------------------------------------------------
----------------------------------------------------------------------------*/
#message {
    margin: 20px 0;
    text-align: center;
}

#reset {
    margin-top: 20px;
}

#reset:hover {
    cursor: pointer;
    background-color: rgba(115, 50, 26.0, 0.623);
}


.hidden {
    display: none;
}

.rankings {
    display: flex;
    flex-direction: column;
    width: 17%;
    background-color: var(--background-caixas); 
    /* background-color: rgba(166, 136, 119, 0.966); */
    margin: 5px 20px auto auto; /* top right bottom left */   
    padding: 0 100px 50px;
    text-align: center;
    align-items: center;
    /* border: 3px solid rgb(115, 50, 26); */
    border: 3px solid var(--amarelo-bordas);
    border-radius: 20px;
}

#user-rankings {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.user-rankings-item {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgba(3, 124, 174,0.6);
    border-radius: 10px;
    
}

#texto-ranking{
    color: rgb(96, 2, 109);
}
li:nth-child(1) {
    background-color: rgba(184, 5, 207, 1);
}

li:nth-child(2) {
    background-color: rgba(227, 91, 245, 0.7);
}

li:nth-child(3) {
    background-color: rgba(133, 101, 168, 1);
}

li img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    border: 3px solid rgb(92, 58, 11);
}
.offheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
}