body {
    background-color: rgba(217, 199, 184);
    display: block;
    margin: 0;
}

/* barra de cima*/
.header {
    width: 100%;
    display: inline-block;
    background-color: rgb(191, 104, 54);
    border-bottom: 3px solid rgb(115, 50, 26);
    height: 200px;
}

/*logo, ainda no header*/
#logo_dara {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#logo_dara:hover {
    font-size: 50px;
}

#texto_rules {
    font-size: 40px;
    top: 75px;
    left: 50px;
    position: absolute;
}

/*pergaminho com as regras, ainda no header*/
#rules {
    background: none;
    position: relative;
    left: 30px;
    top: 30px;
    width: 130px;
    height: 130px;
}

#rules:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.25s;

}

#rules:hover~#texto_rules {
    transform: scale(1.1);
    transition: ease-in-out 0.25s;

}

#texto_rules {
    font-size: 40px;
    pointer-events: none;
}

/*coisas depois de carregar nas regras*/
.popup-button {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}

.popup p {
    font-size: 20px;
    text-align: center;
}

.popup img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 90px;
    border: 3px solid rgb(92, 58, 11);
    cursor: pointer;
}

.popup button {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: block;
    top: 400px;
    margin-top: 70px;
    left: 250px;
    background-color: rgba(200, 130, 30, 255);
    border-radius: 10px;
    padding: 5px;
}

.popup {
    display: none;
    position: fixed;
    width: 900px;
    height: 900px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F9-93927_parchment-png.png&f=1&nofb=1&ipt=bbc7715920613b4e4efc9180e851e9550309c76cb08148de7f77314c9bac1f74&ipo=images");
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    z-index: 2;
}

/*botão do perfil/homen das cavernas, ainda no header*/

.MyProfileButton {
    font-size: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 50px;
    background-color: rgba(217, 150, 91);
    border-radius: 10px;
    padding: 5px;
}

.MyProfileButton:hover {
    background-color: rgba(191, 104, 54);
    cursor: pointer;
    transform: scale(1.1);
}

/*opções depois de carregar no botão do perfil*/
#profileOptions {
    display: none;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    top: 220px;
    right: 15px;
    position: absolute;
}

#profileOptions.visible {
    transition: max-height 3s ease-in;
    display: flex;
}

#seta {
    width: 35px;
    height: 35px;
    border-bottom: 2px solid rgb(115, 50, 26);
    border-left: 2px solid rgb(115, 50, 26);
    transform: rotate(135deg);
}

#profileOptions .barra {
    width: 150px;
    margin-bottom: 5px;
    height: max-content;
    align-items: end;
    background-color: rgba(166, 136, 119, 0.966);
    border-radius: 10px;
}

.barra {
    width: max-content;
    height: max-content;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
}

.barra:hover,
.barra:focus {
    background-color: rgba(217, 150, 91);
    cursor: pointer;
}

#profileOptions .barra:hover,
#profileOptions .barra:focus {
    background-color: rgba(115, 50, 26.0, 0.623);
    cursor: pointer;
}

#user {
    height: 70px;
    width: 60px;
    position: relative;
}

#user:hover {
    cursor: pointer;
    transform: scale(1.025);
}

/*parte de definir as settings do jogo*/
#texto-settings {
    margin-top: 0;
    text-align: center;
    font-family: 'Stencil Std';
    font-size: 45px;
    font-weight: 600;
    color: rgb(82, 44, 2);
}

.settings p:not(#texto-settings) {
    font-size: 20px;
}

.settings {
    width: 20%;
    height: 60%;
    background-color: rgba(166, 136, 119, 0.966);
    margin-top: 20px;
    position: relative;
    top: 550%;
    left: 5%;
    padding: 0 100px 50px;
    text-align: center;
    justify-content: center;
    border: 3px solid rgb(115, 50, 26);
    border-radius: 20px;
}

/*---------------------------ESCOLHER QUADRO-----------------------------------------------------------------------
------------------------------ESCOLHER QUADRO----------------------------------------------------
------------------------------ESCOLHER QUADRO---------------------------------------------------*/
input[type="radio"] {
    position: absolute;
    z-index: -2;
}

.board-size-option {
    padding: 20px;
    margin: 5px;
    border: 2px solid rgba(115, 50, 26.0, 0.623);
    border-radius: 5px;
}

.board-size-option:hover {
    cursor: pointer;
    background-color: rgba(115, 50, 26.0, 0.623);
    border: 1px solid black;
}

span {
    font-size: 18px;
}


.board-size-label input[type="radio"]:checked~.board-size-option {
    background-color: rgba(115, 50, 26.0, 0.623);
    border: 1px solid black;
}


/*---------------------------ESCOLHER ADVERSÁRIO-----------------------------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO----------------------------------------------------
------------------------------ESCOLHER ADVERSÁRIO---------------------------------------------------*/


.players-label {
    width: 80px;
    height: 80px;
    background-color: transparent;
    padding: 20px;
}

label img {
    width: 80px;
    height: 80px;
}

.player-option,
.whentoplay-option {
    padding: 20px;
}

.player-option:hover,
.whentoplay-option:hover {
    background-color: rgba(115, 50, 26.0, 0.623);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.players-label input[type="radio"]:checked~.player-option,
.whentoplay input[type="radio"]:checked~.whentoplay-option {
    background-color: rgba(115, 50, 26.0, 0.623);
    border: 1px solid black;
    border-radius: 10px;
}


/*---------------------------START/COMEÇAR O JOGO-----------------------------------------------------------------------
------------------------------START/COMEÇAR O JOGO----------------------------------------------------
------------------------------START/COMEÇAR O JOGO---------------------------------------------------*/

.start-button {
    display: inline-flex;
    width: 300px;
    height: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(120, 83, 62, 0.966);
    border: 1px solid rgba(115, 50, 26.0, 0.623);
}

.start-button:hover {
    background-color: rgba(115, 50, 26.0, 0.623);
    border: 1px solid black;
    cursor: pointer;
}


#starttext {
    position: absolute;
    color: rgb(255, 155, 4);
    border-radius: 5px;
}

/*----------------------AQUI COMEÇA O SCRIPT DO JOGO------------------------------
----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/

#settings_icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

#settings_icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#settings_icon img {
    width: 50px;
    height: 50px;
    position: absolute;
}

.hidden {
    display: none;
}

.board {
    margin: auto;
    margin-top: 100px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fb9%2F4c%2Fc9%2Fb94cc9753e674518e4bb3ef1bc3fd9f3--grasses-cartoon.jpg&f=1&nofb=1&ipt=1a7969498059d7507f8bd18d828c79958794961659aad08aa28c82fe5200651f&ipo=images");
    background-color: rgba(255, 255, 255, 0);
    width: max-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--col, 5), 1fr);
    grid-template-rows: repeat(var(--row, 6), 1fr);
    gap: 4px 4px;
    grid-template-areas: brown;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    background-image: url("./images/Cell.png");
    background-size: 25px;
    background-repeat: repeat;
    border: 5px solid rgb(135, 83, 62);

}



.gameplay {
    flex-direction: row;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.player-pieces {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url('./images/rock.png');
    background-repeat: no-repeat;
    margin: 5px 0;  
    border-radius: 90px;
}

.game-coluna {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    text-align: center;
}

.pieces-left,
.pieces-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 850px;
    border-top: 100px;
    border: 3px solid black;
    background-color: rgba(166, 136, 119, 0.7);
    border-radius: 20px;
}
/*----------------------------------------------------------------------------
------------------------PEÇAS DE CADA PLAYER-------------------------------
-----------------------------------------------------------------------------------*/
.cell.player-1 {
    background-image: url("./images/player1.png"); /* Replace with the image URL for player 1 */
    background-repeat:no-repeat;
    background-size: cover;
}

.cell.player-2 {
    background-image: url("image_for_player_2.jpg"); /* Replace with the image URL for player 2 */
}

.i{
    font-size: 50px;
    color: rgb(255, 155, 4);
}


/*---------------------------------------------------------------------
--------------------------------BUTOES ACIMA DO BOARD---------------------------------------------------
----------------------------------------------------------------------------*/
#message {
    margin: 20px 0;
}

#reset {
    margin-top: 20px;
}
#reset:hover {
    cursor: pointer;
    background-color:rgba(115, 50, 26.0, 0.623);
}